.italy{ 
    height: 100px;
    /* width: 180px; */
    background:linear-gradient(to right, #009246 0, #009246 33%, #FFF 33%, #FFF 66%, #ce2b37 66%, #ce2b37 100%); 
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.logo {
  padding-top: 1rem;
  font-family: 'Lora', serif;
  font-size: xx-large;
}

.upper-padding {
  padding-top: 1rem;
}