{% load static %}

<div class="menu-name"> Regular Pizza</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Small</th>
            <th scope="col">Large</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cheese</td>
            <td>$12.70</td>
            <td>$17.95</td>
        </tr>
        <tr>
            <td>1 topping</td>
            <td>$13.70</td>
            <td>$17.95</td>
        </tr>
        <tr>
            <td>2 toppings</td>
            <td>$15.20</td>
            <td>$19.95</td>
        </tr>
        <tr>
            <td>3 toppings</td>
            <td>$16.20</td>
            <td>$23.95</td>
        </tr>
        <tr>
            <td>Special</td>
            <td>$17.75</td>
            <td>$25.95</td>
        </tr>
    </tbody>
</table>