{% load static %}

<div class="menu-name">Dinner Platters</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Small</th>
            <th scope="col">Large</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Garden Salad</td>
            <td>$40.00</td>
            <td>$65.00</td>
        </tr>
        <tr>
            <td>Greek Salad</td>
            <td>$50.00</td>
            <td>$75.00</td>
        </tr>
        <tr>
            <td>Antipasto</td>
            <td>$50.00</td>
            <td>$75.00</td>
        </tr>
        <tr>
            <td>Baked Ziti</td>
            <td>$40.00</td>
            <td>$65.00</td>
        </tr>
        <tr>
            <td>Meatball Parm</td>
            <td>$50.00</td>
            <td>$75.00</td>
        </tr>
        <tr>
            <td>Chicken Parm</td>
            <td>$55.00</td>
            <td>$85.00</td>
        </tr>
    </tbody>
</table>