{% load static %}

<div class="menu-name">Subs</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Small</th>
            <th scope="col">Large</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cheese</td>
            <td>$6.50</td>
            <td>$7.95</td>
        </tr>
        <tr>
            <td>Italian</td>
            <td>$6.50</td>
            <td>$7.95</td>
        </tr>
        <tr>
            <td>Ham + Cheese</td>
            <td>$6.50</td>
            <td>$7.95</td>
        </tr>
        <tr>
            <td>Meatball</td>
            <td>$6.50</td>
            <td>$7.95</td>
        </tr>
        <tr>
            <td>Tuna</td>
            <td>$6.50</td>
            <td>$7.95</td>
        </tr>
        <tr>
            <td>Turkey</td>
            <td>$7.50</td>
            <td>$8.50</td>
        </tr>
        <tr>
            <td>Chicken Parmigiana</td>
            <td>$7.50</td>
            <td>$8.50</td>
        </tr>
        <tr>
            <td>Eggplant Parmigiana</td>
            <td>$6.50</td>
            <td>$7.95</td>
        </tr>
        <tr>
            <td>Steak</td>
            <td>$6.50</td>
            <td>$7.95</td>
        </tr>
        <tr>
            <td>Steak + Cheese</td>
            <td>$6.95</td>
            <td>$8.50</td>
        </tr>
        <tr>
            <td>+ Mushrooms</td>
            <td>+$0.50</td>
            <td>+$0.50</td>
        </tr>
        <tr>
            <td>+ Green Peppers</td>
            <td>+$0.50</td>
            <td>+$0.50</td>
        </tr>
        <tr>
            <td>+ Onions</td>
            <td>+$0.50</td>
            <td>+$0.50</td>
        </tr>
        <tr>
            <td>Sausage, Peppers &<br>Onions</td>
            <td></td>
            <td>$8.50</td>
        </tr>
        <tr>
            <td>Hamburger</td>
            <td>$4.60</td>
            <td>$6.95</td>
        </tr>
        <tr>
            <td>Cheeseburger</td>
            <td>$5.10</td>
            <td>$7.45</td>
        </tr>
        <tr>
            <td>Fried Chicken</td>
            <td>$6.95</td>
            <td>$8.50</td>
        </tr>
        <tr>
            <td>Veggie</td>
            <td>$6.95</td>
            <td>$8.50</td>
        </tr>
        <tr>
            <td>Extra Cheese on any<br>sub</td>
            <td>+$0.50</td>
            <td>+$0.50</td>
        </tr>
    </tbody>
</table>