{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css">
{% endblock %}

{% block body %}

<!-- {% if message %}
<div class="container-fluid text-center title-text">Pizza added to cart!</div>
{% endif %} -->

<div class="container-fluid text-center title-text">{{user.username}}'s Cart</div>
<div class="container ">
    {% if isPaid %}
    <div class="container text-center">
        Thank you for paying! <a href="{% url 'index' %}">Home</a>
    </div>
    {% elif message %}
    <div class="container text-center">
        Cart is empty! <a href="{% url 'menu' %}">Order now</a>
    </div>
    {% else %}
    {% include 'includes/cart-items.html' %}
    <div class="container text-right">
        Subtotal:<br>
        <div class="title-text">
            ${{cart.totalPrice}}
        </div>
        <!-- <form action="{% url 'pay' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block">Pay Order</button>
        </form> -->

        <form action="{% url 'cart' %}" method="post">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}"
            data-description="Pinocchio's Pizza & Subs" data-amount="{{stripeTotal}}" data-locale="auto">
            </script>
        </form>
    </div>
    {% endif %}
</div>



{% endblock %}