{% extends 'base.html' %}
{% load static %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col-sm">
                <img src="http://www.pinocchiospizza.net/images/building3.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-sm">
                <div class="container">
                    <p><em>Noch's</em> has reached a landmark this year......50 years in business! We've been feeding Harvard and the surrounding area since 1966!</p>

                    <p>We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 500 reviews on Yelp--- check it out!</p>

                    <p>Pinocchio's was recently named 1st Runner-up in the 'Boston's Best Pizza Poll' conducted by Eater.com and Top College Pizza Shop by Thrillist.com. </p>
                </div>

                <div class="row upper-padding">
                    <div class="col-sm">
                        <a type="button" href="{% url 'menu' %}" class="btn btn-secondary btn-lg">Menu</a>
                    </div>
                    <div class="col-sm">
                        <img src="http://www.pinocchiospizza.net/images/pinocchio_72.gif" class="img-fluid" alt="Responsive image">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}