{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css">{% endblock %}
{% block navbar %}Menu{% endblock %}

{% block body %}

    <div class="container-fluid text-center title-text">Our Menu</div>
    <div class="container-fluid text-center">
            <a href="{% url 'pizza' %}">Pizza</a> | 
            <a href="{% url 'sub' %}">Subs</a> | 
            <a href="{% url 'pasta' %}">Pasta</a> | 
            <a href="{% url 'salad' %}">Salads</a> | 
            <a href="{% url 'platter' %}">Dinner Platters</a>
        </div>
    <div class="container-fluid text-center">
        <a href="{% url 'menu' %}">main menu</a>
    </div>

    <div class="container text-center main-menu">
        {% include 'includes/pasta-menu.html' %}
    </div>
    
{% endblock %}